body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	padding: 20px;
	background-color: #3d6d0d;
	color: #fff;
}

p, li {
	line-height: 150%;
}

.sub-section {
	margin: 20px;
}

/* ------------------------------------ nav styles ---------------------------*/
nav {
	background-color: #1a3300;
	min-height: 55px;
	color: #fff;
}

.topnav {
	background-color: #1a3300;
	position: relative
	font-weight: bold;
}

.topnav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
}

.topnav ul li {
	position: relative;
	/* background-color: red; */

}

.topnav ul li a {
	color: #fff;
	text-decoration: none;
	/* background-color: blue; */
	padding: 15px;
	display: block;
	font-size: 125%
}


/*--------------------------------- icons -------------------------------------*/

span.score {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px 15px 0 0;
	z-index: 1000;
	font-size: 150%;
	color: #fff;
}

span.score i {
	margin: 0 20px;
}

/* ------------------------------------- form parts ----------------------------*/
.form-header, .removal-notice {
	padding: 20px;
	background-color: #3d6d0d;
	color: #fff;
}

.form-header p {
	line-height: 150%;
}

.form-header a {
	color: #fff;
}

.form-div {
    margin: 20px;
}

.submit-section {
	text-align: center;
	position: sticky;
	position: -webkit-sticky;

	bottom: 0;
	background-color: #000;
	width: 100%;
}

.button {
    /* background-color: #4CAF50; */
	-webkit-appearance: none;
    background-color: #34495E;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;

}

.button:hover {
    background-color: #2980b9;
}


/*----------------------------------- picker categories ---------------------------*/

.picker-category {
	/* margin: 20px; */
	/* margin: 0 -10px; */
	padding: 10px;
	/* border-radius: 10px; */
	min-height: 125px;
}

.picker-category h3 {
	font-size: 150%;
	margin: -10px -10px 10px -10px;
	background-color: #4e5d1d;
	padding: 15px;
	color: #fff;
}

.remove-category h3{
	background-color: #d55757;
}

/* .get-moving-section, .serve-section, .create-section, .know-your-parks-section {
	color: #000;
	background-color: #fff;
} */

.picker {
	border-bottom: 1px solid #DCDCDC;
	margin: 0 10px;
	padding: 10px;
}

.picker:last-child {
	border: none;
}

.pic-list img {
	max-width: 100%;
	margin-bottom: 5px;
}

.pic-list {
	padding: 10px 0 0 0;
}
/* ---------------------------------- radio buttons --------------------------------*/

/* Customize the label (the container) */
.container {
 display: block;
 position: relative;
 padding-left: 35px;
 /* margin-bottom: 12px; */
 cursor: pointer;
 font-size: 110%;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

/* Hide the browser's default radio button */
.container input {
 position: absolute;
 opacity: 0;
}

/* Create a custom radio button */
.checkmark {
 position: absolute;
 top: 0;
 left: 0;
 height: 25px;
 width: 25px;
 background-color: #eee;
 border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
 background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
 background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
 content: "";
 position: absolute;
 display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
 display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 top: 9px;
 left: 9px;
 width: 8px;
 height: 8px;
 border-radius: 50%;
 background: white;
}

/* ---------------------------- checkbox styles -------------------------------*/

/* Customize the label (the container) */
.container-ck {
 display: block;
 position: relative;
 padding-left: 35px;
 margin-bottom: 12px;
 cursor: pointer;
 font-size: 110%;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

/* Hide the browser's default checkbox */
.container-ck input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
}

/* Create a custom checkbox */
.checkmark-2 {
 position: absolute;
 top: 0;
 left: 0;
 height: 25px;
 width: 25px;
 background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-ck:hover input ~ .checkmark-2 {
 background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-ck input:checked ~ .checkmark-2 {
 background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-2:after {
 content: "";
 position: absolute;
 display: none;
}

/* Show the checkmark when checked */
.container-ck input:checked ~ .checkmark-2:after {
 display: block;
}

/* Style the checkmark/indicator */
.container-ck .checkmark-2:after {
 left: 9px;
 top: 5px;
 width: 5px;
 height: 10px;
 border: solid white;
 border-width: 0 3px 3px 0;
 -webkit-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 25px 0;
    display: inline-block;
    border: 2px solid #34495E;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
}
