<!doctype html>
<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>{{ the_title }}</title>
	<link rel="stylesheet" href="static/style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="page-container">
		<span class="score">
			{% if data is defined %}
			{{ data['score']['total_score'] }} &#47; 250
			{% endif %}
			<i class="fa fa-bars"></i>
		</span>
	<nav>

		<section class="topnav">
		<ul id="hider">
			<li><a href="/">Activity List</a></li>
			<li><a href="/completed">Completed</a></li>
			<li><a href="/priority_list">Priority List</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
		</section>

	</nav>
	<div class="content">
		<div class="wrapper">
			{% block body %} {% endblock %}
		</div><!--end wrapper-->
	</div><!--end content-->
	<footer>
		<p></p>
	</footer>

	{% block script %} {% endblock %}
</div><!--- end page-container-->
</body>

</html>
