{% extends 'base.html' %}
{% block head %}

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
{% endblock %}

{% block body %}


<form method='POST' action='/login'>
	<section class="form-header">
    <h2>Login Page</h2>
	{% if results is defined %}
	<p class="{{ alert_box_class }}">{{ results }}</p>
	{% endif %}
	</section>
	<section class="form-body">
		<section class="picker-category">


			<div class="form-div">
				<label for="username" class="input-label">
					<span>Username</span>
				</label>
					<input id="username" type=text name=username required>
			</div>

			<div class="form-div">
				<label for="password" class="input-label">
					<span>Password</span>
				</label>
					<input id="password" type=text name=password required>
			</div>


		</section>

		<p class="submitp"><input class="button" value='Make Choice' type='SUBMIT'></p>
	</section>
</form>



{% endblock %} {% block script %}

<script type="text/javascript">
	jQuery(function(){
		menuFunction();

	});

	function menuFunction(){
		$(".score").click(function(){
		$("#hider").toggle(1000);
		});
	}

	function oddSpotter(){
		$( ".picker:odd" ).css( "background-color", "#999999" );
	}

</script>

{% endblock %}
