{% extends 'base.html' %} {% block body %}

<h2>Priority Picker</h2>

<form method='POST' action='/priority_processor'>
	<section class="form-header">



	</section>

	<section class="form-body">
		<h2>Add to Priority List</h2>
		<p>Select activities in the top section to <em>add to</em> the priority list</p>
		<section class="picker-category get-moving-section">
			<h3>Get Moving <span>{{ data['score']['categories']['Get Moving']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Get Moving' and data[activity]['is_complete'] == False and data[activity]['is_target'] == False %}
			<div class="picker {{ loop.cycle('odd', 'even') }}">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category investigate-section">
			<h3>Investigate <span>{{ data['score']['categories']['Investigate']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Investigate' and data[activity]['is_complete'] == False and data[activity]['is_target'] == False %}
			<div class="picker {{ loop.cycle('odd', 'even') }}">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category serve-section">
			<h3>Serve <span>{{ data['score']['categories']['Serve']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Serve' and data[activity]['is_complete'] == False and data[activity]['is_target'] == False %}
			<div class="picker {{ loop.cycle('odd', 'even') }}">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category outdoor-skills-section">
			<h3>Outdoor Skills <span>{{ data['score']['categories']['Outdoor Skills']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Outdoor Skills' and data[activity]['is_complete'] == False and data[activity]['is_target'] == False %}
			<div class="picker {{ loop.cycle('odd', 'even') }}">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category create-section">
			<h3>Create <span>{{ data['score']['categories']['Create']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Create' and data[activity]['is_complete'] == False and data[activity]['is_target'] == False %}
			<div class="picker {{ loop.cycle('odd', 'even') }}">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category just-for-fun-section">
			<h3>Just For Fun <span>{{ data['score']['categories']['Just For Fun']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Just For Fun' and data[activity]['is_complete'] == False and data[activity]['is_target'] == False %}
			<div class="picker {{ loop.cycle('odd', 'even') }}">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category know-your-parks-section">
			<h3>Know Your Parks <span>{{ data['score']['categories']['Know Your Parks']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Know Your Parks' and data[activity]['is_complete'] == False and data[activity]['is_target'] == False %}
			<div class="picker {{ loop.cycle('odd', 'even') }}">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->


		<h2>Remove from Priority List</h2>
		<p>Select activities in the bottom section to <em>remove from</em> the priority list</p>
		<section class="picker-category get-moving-section">
			<h3>Get Moving <span>{{ data['score']['categories']['Get Moving']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Get Moving' and data[activity]['is_complete'] == False and data[activity]['is_target'] == True %}
			<div class="picker {{ loop.cycle('odd', 'even') }}">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category investigate-section">
			<h3>Investigate <span>{{ data['score']['categories']['Investigate']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Investigate' and data[activity]['is_complete'] == False and data[activity]['is_target'] == True %}
			<div class="picker {{ loop.cycle('odd', 'even') }}">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category serve-section">
			<h3>Serve <span>{{ data['score']['categories']['Serve']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Serve' and data[activity]['is_complete'] == False and data[activity]['is_target'] == True %}
			<div class="picker {{ loop.cycle('odd', 'even') }}">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category outdoor-skills-section">
			<h3>Outdoor Skills <span>{{ data['score']['categories']['Outdoor Skills']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Outdoor Skills' and data[activity]['is_complete'] == False and data[activity]['is_target'] == True %}
			<div class="picker {{ loop.cycle('odd', 'even') }}">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category create-section">
			<h3>Create <span>{{ data['score']['categories']['Create']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Create' and data[activity]['is_complete'] == False and data[activity]['is_target'] == True %}
			<div class="picker {{ loop.cycle('odd', 'even') }}">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category just-for-fun-section">
			<h3>Just For Fun <span>{{ data['score']['categories']['Just For Fun']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Just For Fun' and data[activity]['is_complete'] == False and data[activity]['is_target'] == True %}
			<div class="picker {{ loop.cycle('odd', 'even') }}">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category know-your-parks-section">
			<h3>Know Your Parks <span>{{ data['score']['categories']['Know Your Parks']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Know Your Parks' and data[activity]['is_complete'] == False and data[activity]['is_target'] == True %}
			<div class="picker {{ loop.cycle('odd', 'even') }}">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<p class="submitp"><input class="button" value='Continue' type='SUBMIT'></p>
	</section> <!-- end form-body -->
</form>



{% endblock %}
