{% extends 'base.html' %} {% block body %}



<form method='POST' action='/priority_processor'>
	<section class="form-header">
		<h2>Priority Picker</h2>
		<p>Add to the Priority List.</p>
		<p>Select activities in the top section to <em>add to</em> the priority list</p>


	</section>

	<section class="form-body">

		<section class="picker-category get-moving-section">
			<h3><i class="fa fa-bicycle" aria-hidden="true"></i> Get Moving<span> - {{ data['score']['categories']['Get Moving']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Get Moving' and data[activity]['is_complete'] == False and data[activity]['is_target'] == False %}
			<div class="picker">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category investigate-section">
			<h3><i class="fa fa-binoculars" aria-hidden="true"></i> Investigate<span> - {{ data['score']['categories']['Investigate']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Investigate' and data[activity]['is_complete'] == False and data[activity]['is_target'] == False %}
			<div class="picker">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category serve-section">
			<h3><i class="fa fa-star-o" aria-hidden="true"></i> Serve<span> - {{ data['score']['categories']['Serve']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Serve' and data[activity]['is_complete'] == False and data[activity]['is_target'] == False %}
			<div class="picker">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category outdoor-skills-section">
			<h3><i class="fa fa-fire" aria-hidden="true"></i> Outdoor Skills<span> - {{ data['score']['categories']['Outdoor Skills']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Outdoor Skills' and data[activity]['is_complete'] == False and data[activity]['is_target'] == False %}
			<div class="picker">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category create-section">
			<h3><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Create<span> - {{ data['score']['categories']['Create']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Create' and data[activity]['is_complete'] == False and data[activity]['is_target'] == False %}
			<div class="picker">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category just-for-fun-section">
			<h3><i class="fa fa-camera" aria-hidden="true"></i> Just For Fun<span> - {{ data['score']['categories']['Just For Fun']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Just For Fun' and data[activity]['is_complete'] == False and data[activity]['is_target'] == False %}
			<div class="picker">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category know-your-parks-section">
			<h3><i class="fa fa-map-marker" aria-hidden="true"></i> Know Your Parks<span> - {{ data['score']['categories']['Know Your Parks']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Know Your Parks' and data[activity]['is_complete'] == False and data[activity]['is_target'] == False %}
			<div class="picker">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="removal-notice">
			<h2>Remove from Priority List</h2>
			<p>Select activities in the bottom section to <em>remove from</em> the priority list</p>
		</section>
		<section class="picker-category get-moving-section remove-category">
			<h3><i class="fa fa-bicycle" aria-hidden="true"></i> Get Moving<span> - {{ data['score']['categories']['Get Moving']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Get Moving' and data[activity]['is_complete'] == False and data[activity]['is_target'] == True %}
			<div class="picker">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category investigate-section remove-category">
			<h3><i class="fa fa-binoculars" aria-hidden="true"></i> Investigate<span> - {{ data['score']['categories']['Investigate']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Investigate' and data[activity]['is_complete'] == False and data[activity]['is_target'] == True %}
			<div class="picker">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category serve-section remove-category">
			<h3><i class="fa fa-star-o" aria-hidden="true"></i> Serve<span> - {{ data['score']['categories']['Serve']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Serve' and data[activity]['is_complete'] == False and data[activity]['is_target'] == True %}
			<div class="picker">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category outdoor-skills-section remove-category">
			<h3><i class="fa fa-fire" aria-hidden="true"></i> Outdoor Skills<span> - {{ data['score']['categories']['Outdoor Skills']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Outdoor Skills' and data[activity]['is_complete'] == False and data[activity]['is_target'] == True %}
			<div class="picker">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category create-section remove-category">
			<h3><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Create<span> - {{ data['score']['categories']['Create']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Create' and data[activity]['is_complete'] == False and data[activity]['is_target'] == True %}
			<div class="picker">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category just-for-fun-section remove-category">
			<h3><i class="fa fa-camera" aria-hidden="true"></i> Just For Fun<span> - {{ data['score']['categories']['Just For Fun']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Just For Fun' and data[activity]['is_complete'] == False and data[activity]['is_target'] == True %}
			<div class="picker">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->

		<section class="picker-category know-your-parks-section remove-category">
			<h3><i class="fa fa-map-marker" aria-hidden="true"></i> Know Your Parks<span> - {{ data['score']['categories']['Know Your Parks']['completed'] }} &#47;3</span></h3>
			{% for activity in data %}
				{% if data[activity]['Category'] == 'Know Your Parks' and data[activity]['is_complete'] == False and data[activity]['is_target'] == True %}
			<div class="picker">
				<div class="checklist">
					<label class="container-ck">{{ data[activity]['Activity'] }} - {{ data[activity]['Points'] }}
      					<input type="checkbox" name="priority_toggle" value="{{ data[activity]['Activity'] }}">
      					<span class="checkmark-2"></span>
      				</label>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</section><!-- end picker-category -->
		<section class="submit-section">
			<p class="submitp"><input class="button" value='Add or Remove from List' type='SUBMIT'></p>
		</section>
	</section> <!-- end form-body -->
</form>



{% endblock %} {% block script %}
<script type="text/javascript">
	jQuery(function(){
		menuFunction();

	});

	function menuFunction(){
		$(".score").click(function(){
		$("#hider").toggle(1000);
		});
	}

	function oddSpotter(){
		$( ".picker:odd" ).css( "background-color", "#999999" );
	}

</script>
{% endblock %}
